{{#extends 'base'}}

{{#block "content"}}

<h3>Search:</h3>
<form method="GET">
    {{{searchForm}}}
    <input type="submit" class="btn btn-primary mt-3" value="Search"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.cost}}
            </td>
            <td>
                {{this.category.name}}
            </td>
            <td>
                {{#each this.tags}}
                    <span class="badge bg-primary">{{this.name}}</span>
                {{/each}}
            </td>
            <td>
                {{#if this.image_url}}
                    <img src="{{this.image_url}}" class="img-fluid"/>
                {{/if}}
            </td>
            <td>
                <a href="/cart/{{this.id}}/add" class="btn btn-success btn-sm">Add to Cart</a>
                <a href="/products/{{this.id}}/update" 
                    class="btn btn-primary btn-sm">Edit</a>
                <a href="/products/{{this.id}}/delete"
                    class="btn btn-danger btn-sm">Delete</a>
            </td>
        {{/each}}
        </tr>
    </tbody>
</table>
{{/block}}

{{/extends}}